# Build results
bin/
obj/
out/
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
arm64/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.trx

# Others
*.pidb
*.svclog
*.scc
*.cache
*.ilk
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.dotCover
*.coverage
*.coveragexml
FromLocalVocalText
